:root {
  --md-sys-color-primary: rgb(145 73 68);
  --md-sys-color-surface-tint: rgb(145 73 68);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 164 156);
  --md-sys-color-on-primary-container: rgb(122 55 51);
  --md-sys-color-secondary: rgb(122 85 81);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(253 204 199);
  --md-sys-color-on-secondary-container: rgb(121 84 80);
  --md-sys-color-tertiary: rgb(119 88 63);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(174 138 110);
  --md-sys-color-on-tertiary-container: rgb(61 37 16);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(33 26 25);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(33 26 25);
  --md-sys-color-surface-variant: rgb(246 221 218);
  --md-sys-color-on-surface-variant: rgb(83 67 65);
  --md-sys-color-outline: rgb(134 115 113);
  --md-sys-color-outline-variant: rgb(217 193 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 46 46);
  --md-sys-color-inverse-on-surface: rgb(252 237 236);
  --md-sys-color-inverse-primary: rgb(255 179 172);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(59 8 8);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(116 51 46);
  --md-sys-color-secondary-fixed: rgb(255 218 214);
  --md-sys-color-on-secondary-fixed: rgb(46 20 18);
  --md-sys-color-secondary-fixed-dim: rgb(235 187 182);
  --md-sys-color-on-secondary-fixed-variant: rgb(96 62 59);
  --md-sys-color-tertiary-fixed: rgb(255 220 194);
  --md-sys-color-on-tertiary-fixed: rgb(44 22 4);
  --md-sys-color-tertiary-fixed-dim: rgb(231 191 160);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 65 42);
  --md-sys-color-surface-dim: rgb(229 215 213);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 239);
  --md-sys-color-surface-container: rgb(250 235 233);
  --md-sys-color-surface-container-high: rgb(244 229 227);
  --md-sys-color-surface-container-highest: rgb(238 223 222);
}
