body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

* {
    font-size: 16px;
}

:root {
    --mmdy-color: var(--md-sys-color-primary);
    --mmdy-on-color: var(--md-sys-color-on-primary);
    --mmdy-color-container: var(--md-sys-color-primary-container);
    --mmdy-on-color-container: var(--md-sys-color-on-primary-container);
}
