$sizes: (
    xsm: 0.25rem,
    sm: 0.5rem,
    md: 1rem,
    lg: 1.25rem,
    xlg: 1.5rem,
);

$fontsizes: (
    1: 3em, // h1
    2: 2.25em, // h2
    3: 2em, // h3
    4: 1.5em, // h4
    5: 1.25em, // h5
    6: 1em, // normal text
    7: 0.75em,  // small text
);

$elevations: (
    0: none,
    1: 0 0.2rem 0.5rem 0.01rem rgba(0, 0, 0, 0.25),
    2: 0 0.2rem 0.5rem 0.01rem rgba(0, 0, 0, 0.5),
);

$spacings: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem
);
