@use '../vars' as *;
@use 'sass:map';

html {
    font-size: 16px
}

@each $n, $v in $fontsizes {
    .fs-#{$n} {
        font-size: $v !important; 
    }
    
    h#{$n} {
        font-size: $v
    }
}